[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
waitress = "*"
ks-api-client = {git = "https://github.com/osparamatrix/ks-orderapi-python.git"}
requests = "*"
python-dotenv = "*"
python-socketio = {extras = ["client"], version = "*"}
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"

[dev-packages]

[requires]
python_version = "3.9"
